<nav>
    <h3>CodeChallengers</h3>
  <ul>
    <li>HOME</li>
    <li>SERACH</li>
    <li>PRICING</li>
    <li>CONTACT US</li>
  </ul>
</nav>
<header>
  <div class="header_title">
    <h1>Jongwon's Blog</h1>
    <p>
    <% @posts.each do |p| %>
      <%= p.title %><br>
      <%= p.body %><br>
    <% end %>
    </p>
  </div>
</header>